# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Model weights
*.pt
*.pth

# Environment variables
.env